@import url(https://fonts.googleapis.com/css?family=Muli:Light,Regular,Bold,Black);

html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: Muli;
	position: static;
	background: #F1F6F5;
}

.navbar .navlink {
	font-family: Muli;
	font-weight: Light;
	text-align: left;
	color: #001747;
	padding-left: 50px;
	margin-right: 50px;
	font-size: 0.9em;
	text-decoration: none
}

.homebutton {
	padding: 5px;
	display: inline-block;
}
.nav-wrap {
	display: inline-block;
	margin: 10px;
	float: right;
}

#home-logo {
	font-family: Muli;
	font-weight: Bold;
	text-align: left;
	color: #001747;
	font-size: 1.5em;
	text-decoration: none;
	margin-left: 50px;
}

.about-intro {
	margin-left: 50px;
}
.about-intro h1 {
	font-family: Muli;
	font-weight: Black;
	font-size: 3em;
	text-align: left;
	color: #001747;
	padding-top: 20px;
	padding-right: 50px;
}

.about-intro p {
	font-family: Muli;
	font-weight: Regular;
	width: 50%;
	font-color: #001747;
	font-size: 1em;
	text-align: left;
	padding-bottom: 50px;
}

body h3 {
	font-family: Muli;
	font-weight: 400;
	font-size: 2em;
	text-align: right;
	color: #001747;
	padding-top: 20px;
	padding-right: 50px;
}

.intro .button {
  background-color: #001747;
  font-family: Muli;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: right;
  font-size: 0.9em;
  margin-right: 50px;
}

.intro {
	position: static;
	height: 50vh;
}

img {
	position: static;
	width: 100%;
	height: 20%;
}

.line-div-background {
	background-image: url('../images/line-path.png');
	width: 100%;
	height: 500px;
}

.social-icons {
	display: flex;
	padding-right: 50px;
	/*width: 30%;*/
}

.insta {
	background-image: url('../images/insta-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: auto;
	margin: 25px;
}

.email {
	background-image: url('../images/email-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 28px;
	height: 25px;
	margin-left: 0px;
	margin: 25px 25px 25px 0;
}

.dribbble {
	background-image: url('../images/dribbble-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	margin: 25px;
}

.linkedin {
	background-image: url('../images/linkedin-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	margin: 25px;
}