@import url(https://fonts.googleapis.com/css?family=Muli:Light,Regular,Bold,Black);

html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: Muli;
	position: static;
	background: #F1F6F5;
}

.navbar .navlink {
	font-family: Muli;
	font-weight: Light;
	text-align: left;
	color: #001747;
	padding-left: 50px;
	margin-right: 50px;
	font-size: 0.9em;
	text-decoration: none
}

.homebutton {
	padding: 5px;
	display: inline-block;
}
.nav-wrap {
	display: inline-block;
	margin: 10px;
	float: right;
}

#home-logo {
	font-family: Muli;
	font-weight: Bold;
	text-align: left;
	color: #001747;
	font-size: 1.5em;
	text-decoration: none;
	margin-left: 50px;
}

.about-intro {
	margin-left: 50px;
}
.about-intro h1 {
	font-family: Muli;
	font-weight: Black;
	font-size: 2em;
	text-align: left;
	color: #001747;
	padding-top: 20px;
	padding-right: 50px;
}

.about-intro p {
	font-family: Muli;
	font-weight: Regular;
	width: 50%;
	font-color: #001747;
	font-size: 1em;
	text-align: left;
	padding-bottom: 50px;
}

body h3 {
	font-family: Muli;
	font-weight: 400;
	font-size: 2em;
	text-align: right;
	color: #001747;
	padding-top: 20px;
	padding-right: 50px;
}

.intro .button {
  background-color: #001747;
  font-family: Muli;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: right;
  font-size: 0.9em;
  margin-right: 50px;
}

.intro {
	position: static;
	height: 50vh;
}

.grid-content img {
	position: static;
	/* width: 100%;
	height: 20%; */
}

.line-div-background {
	position: relative;
	background-image: url('../images/line-path.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 1000px;
}

.social-icons {
	display: flex;
	padding-right: 50px;
	/*width: 30%;*/
}

.insta {
	background-image: url('../images/insta-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: auto;
	margin: 25px;
}

.email {
	background-image: url('../images/email-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 28px;
	height: 25px;
	margin-left: 0px;
	margin: 25px 25px 25px 0;
}

.dribbble {
	background-image: url('../images/dribbble-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	margin: 25px;
}

.linkedin {
	background-image: url('../images/linkedin-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	margin: 25px;
}

.circle {
	position: absolute;
	top: -350px;
	right: 0;
	width: 500px;
	height: 500px;
	z-index: -10;
	margin-right: 10%;
}


.profile {
	position: absolute;
	top: -450px;
	right: 0;
	width: 400px;
	height: auto;
	z-index: -5;
	margin-right: 12%;
}

.line-div-background h1 {
	color: white;
	padding-top: 10%;
	text-align: center;
}

.skill-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "marketing software"
						"ux app"
						"motion threeD";
}

.project-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "aryve beer vacf"
						"wonsulting ftc cookpad";
}

#marketing-content {
	grid-area: marketing;
}

.icons {
	width: 100px;
	height: 100px;
}
#software-content {
	grid-area: software;
}

#ux-content {
	grid-area: ux;
}

#app-content {
	grid-area: app;

}

#motion-content {
	grid-area: motion;

}

#threeD-content {
	grid-area: threeD;
}

#aryve-case {
	grid-area: aryve;
}

#beer-case {
	grid-area: beer;
}

#wonsulting-case {
	grid-area: wonsulting;
}

#ftc-case {
	grid-area: ftc;
}

#cookpad-case {
	grid-area: cookpad;
}

.grid-content {
	display: flex;
	z-index: 2;
	margin: 5% 20% 5% 20%;
	color: white;
}

.skills {
	flex-direction: column;
	margin-left: 25px;
}

.projects h1 {
	text-align: center;
	font-size: 2em;
	color: #001747;

}

.project-cell {
	display: flex;
	width: auto;
	height: 400px;
	z-index: 2;
	margin: 5%;
	background-color: white;
	justify-content: center;
	align-items: center;

	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	transition: all 0.5s ease;
}

.project-image {
	height: 100%;
	width: 100%;
	overflow: hidden;
	object-fit: scale-down;
	transition: all 0.5s ease;
}

.project-cell:hover {
	background-color: #6a87c5;
}

.project-image:hover {
	transform: scale(0.8);
}

